//Colors
$darkPrimary: #1976d2;
$primary: #2196f3;
$lightPrimary: #bbdefb;
$accent: #03a9f4;
$primaryText: #212121;
$secondaryText: #727272;
$divider: #b6b6b6;
//Element variables
$footerHeight: 60px;
//Imports
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "_partials";
//General styles
html {
  box-sizing: border-box;
  font-family: Roboto;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: $darkPrimary !important;
  color: $primaryText !important;
  height: 100%;
}
header {
  display: block;
}
a {
  color: $accent;
}
#wrapper {
  min-height: 100%;
}
.main {
  padding-top: 51px;
  overflow: auto;
  padding-bottom: $footerHeight;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
