meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
link(rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon")
title Michael Zrimsek - Personal Project and Resume Site
//css
link(rel="stylesheet" type="text/css" href="libs/bootstrap/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="styles.css")
//javascript
script(src="libs/jquery/jquery.min.js")
script(src="libs/bootstrap/bootstrap.min.js")
script(src="libs/angular/angular.min.js")
script(src="js/scripts.js")
