nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="https://zrimsek.com") MZ
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Websites
            span.caret
          ul.dropdown-menu
            li
              a(href="https://trackmyplaytime.com", target="_blank") Track My Playtime
            li
              a(href="https://pollster.zrimsek.com", target="_blank") Pollster
              
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Other Projects
            span.caret
          ul.dropdown-menu
            li
              a(href="https://www.npmjs.com/package/insert-analytics-elements", target="_blank") Insert Analytics Elements NPM Package
            li
              a(href="https://chrome.google.com/webstore/detail/tota11y-toolkit-chrome-ex/plgldjckfjonhhaflbghkdmbcmffccpn", target="_blank") Tota11y Toolkit Chrome Extension
            li
              a(href="https://github.com/mzrimsek/zip-lang", target="_blank") Zip Lang
          