nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="http://zrimsek.com") MZ
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="http://blog.zrimsek.com", target="_blank") Blog
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Projects
            span.caret
          ul.dropdown-menu
            li
              a(href="http://react.zrimsek.com", target="_blank") react-examples
            li
              a(href="http://gainshare.zrimsek.com", target="_blank") Gainshare Calculator