nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="http://zrimsek.com") MZ
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="http://blog.zrimsek.com", target="_blank") Blog
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Websites
            span.caret
          ul.dropdown-menu
            li
              a(href="https://trackmyplaytime.com", target="_blank") Track My Playtime
            li
              a(href="http://isanimalcrossingfornintendoswitchoutyet.com/", target="_blank") Is Animal Crossing Out For Nintendo Switch Yet
            li
              a(href="http://react.zrimsek.com", target="_blank") React Examples
              
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Other Projects
            span.caret
          ul.dropdown-menu
            li
              a(href="https://www.npmjs.com/package/insert-analytics-elements", target="_blank") Insert Analytics Elements NPM Package
            li
              a(href="https://chrome.google.com/webstore/detail/tota11y-toolkit-chrome-ex/plgldjckfjonhhaflbghkdmbcmffccpn", target="_blank") Tota11y Toolkit Chrome Extension
            li
              a(href="https://github.com/mzrimsek/go-interpreter", target="_blank") Go Interpreter
          