.main#resume(ng-controller="ResumeController")

  header.header
    .container
      img.profile-img.img-responsive.img-circle.left(ng-src="{{about.img}}")
      .profile-info.left
        h1.name {{about.name}}
        h2.title {{about.title}}
        ul.networks.list-inline
          li
            a(ng-href="{{networks.linkedin}}" target="_blank")
              i.fa.fa-linkedin
          li
            a(ng-href="{{networks.github}}" target="_blank")
              i.fa.fa-github
          li
            a(ng-href="{{networks.medium}}" target="_blank")
              i.fa.fa-medium
          li
            a(ng-href="{{networks.twitter}}" target="_blank")
              i.fa.fa-twitter
          li
            a(ng-href="{{networks.google_plus}}" target="_blank")
              i.fa.fa-google-plus
              
       a.contact.btn.btn-cta-primary.right(ng-href="mailto:{{about.email}}" target="_blank")
         i.fa.fa-paper-plane
         span Contact Me
  
  .container.sections-wrapper
    .row
    
      .primary.col-md-8.col-sm-12.col-xs-12
        section.about.section
          .section-inner
            h2.heading About Me
            .content
              p {{about.desc}}
        
        section.experience.section
          .section-inner
            h2.heading Work Experience
            .content
              .item(ng-repeat="job in jobs")
                job-info(info="job")
        
        section.education.section
          .section-inner
            h2.heading Education
            .content
              .item(ng-repeat="school in schools")
                school-info(info="school")
      
      .secondary.col-md-4.col-sm-12.col-xs-12
        aside.info.aside.section
          .section-inner
            h2.heading.sr-only Basic Information
            .content
              ul.list-unstyled
                li
                  i.fa.fa-map-marker
                  span.sr-only Location:
                  span {{about.location}}
                li
                  i.fa.fa-envelope-o
                  span.sr-only Email:
                  a(ng-href="mailto:{{about.email}}" target="_blank") {{about.email}}
                li
                  i.fa.fa-link
                  span.sr-only Website:
                  a(ng-href="{{about.website}}" target="_blank") {{about.website}}
        
        aside.skills.aside.section
          .section-inner
            h2.heading Skills
            .content
              p.intro {{skills.info}}
              .skillset
                .item.clearfix(ng-repeat="lang in skills.languages")
                  skill-info(info="lang.primary")
                  .subskill.right(ng-repeat="subskill in lang.subskills")
                    skill-info(info="subskill")
