div.main(ng-controller="TodoController" id="todo")
  header.header
    div.container
      h1 Simple Todo App
  div.container
    h2.item-counter {{getTotalItems()}} Things Todo
    form
      input(type="text" placeholder="What do I need to do..." ng-model="newTodoText" ng-model-instant)
      button(ng-click="addNewItem()") Add
    button(ng-click="clearCompleted()") Clear Completed
    ul.todo-list.list-group
      li.todo-item.list-group-item(ng-repeat="item in todoItems")
        input.todo-checked(type="checkbox" ng-model="todo.complete")
        span.todo-text(class="done-{{todo.complete}}") {{item.action}}
    
