div.main(ng-controller="WeatherController" id="weather")
  header.header
    div.container
      h1 Weather Information
        span.city-name(ng-show="contentLoaded") for {{location.placeName}}, {{location.adminName1}}
      
  div.container
    div.row
      form.weather-query.input-group
        input.form-control(type="text" placeholder="Enter Zipcode" ng-model="zipcode" ng-model-instant)
        span.input-group-btn
          button.btn.btn-default(type="button" disabled="{{zipcode === ''}}" ng-click="getWeatherData()") Get Weather
          
  div.container.sections-wrapper
    div.row
    
      div.col-md-12.col-sm-12.col-xs-12
        section.current-weather.section
          div.section-inner
            h2.heading Current Weather
            div.clearfix(ng-show="contentLoaded")
              div.left
                div.temperature Temperature: {{currentWeather.main.temp | number:0}}&deg;
                div.weather-desc Weather: {{currentWeather.weather[0].description}}
              img.icon.right(ng-src="{{getWeatherIcon(currentWeather.weather[0].icon)}}")
              
      div.col-md-12.col-sm-12.col-xs-12
        section.weather-forecast.section
          div.section-inner
            h2.heading Weather Forecast
            div.row
              div.forecast-day.col-md-3.col-sm-4.col-xs-6(ng-repeat="day in weatherForecast")
                h3.date {{day.date | date: 'EEE, MM/dd/yyyy'}}
                div.report.clearfix
                  div.left
                    div Temperatures:
                    ul.temperatures
                      li.day Day: {{day.report.temp.day | number:0}}&deg;
                      li.min Min: {{day.report.temp.min | number:0}}&deg;
                      li.max Max: {{day.report.temp.max | number:0}}&deg;
                    div.weather-desc Weather: {{day.report.weather[0].description}}
                  img.icon.right(ng-src="{{getWeatherIcon(day.report.weather[0].icon)}}")
