doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon")
    title Michael Zrimsek - Personal Project and Resume Site
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src=src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="js/scripts.js")
    
  body(ng-app="ZrimsekWeb")
  
    include ./include/nav.jade
    include ./include/resume.jade
    include ./include/todo.jade
      
    //modules
    script(src="js/app.js")
    //controllers
    script(src="js/controllers/ResumeController.js")
    script(src="js/controllers/TodoController.js")
    
