doctype html
html(lang="en")
  head
    include ./include/head.jade
    
  body(ng-app="ZrimsekWeb")
    
    div(id="wrapper")
      include ./include/nav.jade
      include ./include/resume.jade
      
    include ./include/footer.jade
    include ./include/script-includes.jade
